BasedOnStyle: Google
Language: Cpp
ColumnLimit: 100
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentCaseBlocks: true
IndentCaseLabels: true
IndentWidth: 4
TabWidth: 4
UseTab: Always
PointerAlignment: Left
