[submodule "third_party/ogawayama"]
	path = third_party/ogawayama
	url = https://github.com/project-tsurugi/ogawayama.git
[submodule "third_party/takatori"]
	path = third_party/takatori
	url = https://github.com/project-tsurugi/takatori.git