# object file
*.o
*.so

# test
results/*
regression.diffs
regression.out

# coverage report
*.gcno
*.gcda

# VS Code
.vscode/*
*.code-workspace

# tests
results/*
regression.*

# scripts
scripts/*.md
scripts/*.gz

# Protocol Buffers
include/proto
